<div class="well">
  <p>{{answer.answer}}</p>
  <p><small>Answered by {{answer.author}}</small> <button class="btn btn-xs btn-link" {{action 'deleteAnswer' answer}}><small>Delete Answer</small></button></p>
</div>
